<div class="container-fluid" style="max-width: 400px; margin-top: 10vh">
  <h1 class="text-center">Smart Avaas</h1>
  <div class="form card shadow mb-2 bg-body-tertiary rounded-2 border-0">
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="d-flex gap-3">
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input
              type="text"
              id="firstname"
              class="form-control"
              formControlName="firstname"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('firstname')?.invalid &&
                  (registerForm.get('firstname')?.touched ||
                    registerForm.get('firstname')?.dirty)
              }"
            />
            @if(registerForm.get('firstname')?.invalid){
            <div
              class="text-danger mt-1"
              *ngIf="
                registerForm.get('firstname')?.touched ||
                registerForm.get('firstname')?.dirty
              "
            >
              <small *ngIf="registerForm.get('firstname')?.errors?.['required']"
                >Firstname is required</small
              >
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input
              type="text"
              id="lastname"
              class="form-control"
              formControlName="lastname"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('lastname')?.invalid &&
                  (registerForm.get('lastname')?.touched ||
                    registerForm.get('lastname')?.dirty)
              }"
            />
            @if(registerForm.get('lastname')?.invalid){
            <div
              class="text-danger mt-1"
              *ngIf="
                registerForm.get('lastname')?.touched ||
                registerForm.get('lastname')?.dirty
              "
            >
              <small *ngIf="registerForm.get('lastname')?.errors?.['required']"
                >Lastname is required</small
              >
            </div>
            }
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                registerForm.get('email')?.invalid &&
                (registerForm.get('email')?.touched ||
                  registerForm.get('email')?.dirty)
            }"
          />
          @if(registerForm.get('email')?.invalid){
          <div
            class="text-danger mt-1"
            *ngIf="
              registerForm.get('email')?.touched ||
              registerForm.get('email')?.dirty
            "
          >
            <small *ngIf="registerForm.get('email')?.errors?.['required']"
              >Email is required</small
            >
            <small *ngIf="registerForm.get('email')?.errors?.['email']"
              >Enter a valid email address</small
            >
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <div class="position-relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              class="form-control pe-5"
              formControlName="password"
              (input)="onPasswordInput($event)"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('password')?.invalid &&
                  (registerForm.get('password')?.touched ||
                    registerForm.get('password')?.dirty)
              }"
              style="background-image: none !important"
            />
            @if(registerForm.get('password')?.touched ||
            registerForm.get('password')?.dirty){
            <lucide-angular
              [img]="showPassword ? eyeCloseIcon : eyeOpenIcon"
              [size]="20"
              class="bi position-absolute top-50 translate-middle-y"
              (click)="toggleShowPassword()"
              style="right: 2rem; cursor: pointer"
              aria-label="Toggle password visibility"
            ></lucide-angular>
            }
          </div>

          @if(registerForm.get('password')?.invalid){
          <div
            class="text-danger mt-1"
            *ngIf="
              registerForm.get('password')?.touched ||
              registerForm.get('password')?.dirty
            "
          >
            <small *ngIf="registerForm.get('password')?.errors?.['required']"
              >Password is required</small
            >
            <small *ngIf="registerForm.get('password')?.hasError('minlength')">
              Password is too short
            </small>
            <small *ngIf="registerForm.get('password')?.errors?.['pattern']"
              ><ul class="list-unstyled small mt-2">
                <li
                  [ngClass]="{
                    'text-success': passwordChecks.hasUpperCase,
                    'text-danger': !passwordChecks.hasUpperCase
                  }"
                >
                  {{ passwordChecks.hasUpperCase ? "✔" : "X" }} At least one
                  uppercase letter
                </li>
                <li
                  [ngClass]="{
                    'text-success': passwordChecks.hasLowerCase,
                    'text-danger': !passwordChecks.hasLowerCase
                  }"
                >
                  {{ passwordChecks.hasLowerCase ? "✔" : "X" }} At least one
                  lowercase letter
                </li>
                <li
                  [ngClass]="{
                    'text-success': passwordChecks.hasNumber,
                    'text-danger': !passwordChecks.hasNumber
                  }"
                >
                  {{ passwordChecks.hasNumber ? "✔" : "X" }} At least one number
                </li>
                <li
                  [ngClass]="{
                    'text-success': passwordChecks.hasSymbol,
                    'text-danger': !passwordChecks.hasSymbol
                  }"
                >
                  {{ passwordChecks.hasSymbol ? "✔" : "X" }} At least one
                  special character
                </li>
                <li
                  [ngClass]="{
                    'text-success': passwordChecks.hasMinLength,
                    'text-danger': !passwordChecks.hasMinLength
                  }"
                >
                  {{ passwordChecks.hasMinLength ? "✔" : "X" }} Minimum 8
                  characters
                </li>
              </ul>
            </small>
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="confirmpassword" class="form-label"
            >Confirm Password</label
          >
          <div class="position-relative">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              id="confirmpassword"
              class="form-control"
              formControlName="confirmpassword"
              [ngClass]="{
                'is-invalid':
                  registerForm.hasError('passwordMismatch') &&
                  (registerForm.get('confirmpassword')?.touched ||
                    registerForm.get('confirmpassword')?.dirty)
              }"
              style="background-image: none !important"
            />
            @if(registerForm.get('confirmpassword')?.touched ||
            registerForm.get('confirmpassword')?.dirty){
            <lucide-angular
              [img]="showConfirmPassword ? eyeCloseIcon : eyeOpenIcon"
              [size]="20"
              class="bi position-absolute translate-middle-y"
              (click)="toggleShowConfirmPassword()"
              style="right: 2rem; cursor: pointer; top: 30% !important"
              aria-label="Toggle password visibility"
            ></lucide-angular>
            }
            <div
              class="text-danger mt-1"
              *ngIf="
                (registerForm.get('confirmpassword')?.touched ||
                  registerForm.get('confirmpassword')?.dirty) &&
                (registerForm.get('confirmpassword')?.invalid ||
                  registerForm.hasError('passwordMismatch'))
              "
            >
              <small *ngIf="registerForm.hasError('passwordMismatch')">
                <span>Passwords do not match</span>
              </small>
            </div>
          </div>
        </div>
        <button
          type="submit"
          [disabled]="registerForm.invalid || isLoading()"
          class="btn btn-primary w-100"
        >
          <span>{{ isLoading() ? "" : "Create Account" }} </span
          >@if(isLoading()){
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden"></span>
          </div>
          }
        </button>
      </form>
    </div>
  </div>
  <p class="text-center mt-3">
    Already have an account?
    <span><a routerLink="/login" class="text-decoration-none">Login</a></span>
  </p>
</div>
